<div *ngIf="allBooks.length > 0">
  <h2>Listado de todos los libros:</h2>
  <ul>
    <li *ngFor="let book of allBooks">
      Autor: {{ book.autor }} - Título: {{ book.titulo }} - ID: {{ book.id }}
    </li>
  </ul>
</div>

<div *ngIf="specificBook">
  <h2>Libro específico:</h2>
  <p>Autor: {{ specificBook.autor }} - Título: {{ specificBook.titulo }} - ID: {{ specificBook.id }}</p>
</div>

<div *ngIf="booksByAuthor && booksByAuthor.length > 0">
  <h2>Libros del autor:</h2>
  <ul>
    <li *ngFor="let book of booksByAuthor">
      <p>Autor: {{ book.autor }} - Título: {{ book.titulo }} - ID: {{ book.id }}</p>
    </li>
  </ul>
</div>







<div *ngIf="noBooksFound">
  <p>No se encontraron libros del autor.</p>
</div>

<div *ngIf="noBooksFound">
  <p>No se encontraron libros.</p>
</div>
