

<div class="container">
  <h1>Bienvenido a Mi Aplicación</h1>
  <p>Esta es una aplicación genial donde puedes encontrar y leer libros en línea.</p>

  <div class="row">
      <div *ngFor="let book of books" class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <h2 class="card-title">{{ book.title }}</h2>
                  <p class="card-text">Autor: {{ book.author }}</p>
                  <p class="card-text">{{ book.description }}</p>
              </div>
          </div>
      </div>
  </div>
</div>
